/* Geral */

:root{
    --cor: #A70000;
}

body{
    background-color: #F1F1F1;
}

h2{
    color: rgba(0, 0, 0, 0.9);
}

h3{
    color: var(--cor);
}

/* Header / Navbar */

.nav-link{
    font-size: 1.1em;
    font-weight: 600;
}

.nav-link:hover{
    transition: .3s;
    color: var(--cor) !important;
}

.navbar-toggler{
    color: transparent !important;
    border: none;
}

/* Galeria */

#galeria div div{
    overflow: hidden;
}

img{
    transition: .5s;
}

img:hover{
    transform: scale(1.1);
}

/* Sobre */

#perfil{
    border-radius: 50%;
    overflow: hidden;
}

.form-control:focus{
    border: 0;
    box-shadow: 0 0 5px .25rem rgba(212, 5, 5, 0.5);
}

.btn-danger{
    background-color: var(--cor);
    border-color: var(--cor);
}

/* Footer */

footer .col-12:first-child{
    color: var(--cor);
}

footer a{
    text-decoration: none;
    color: var(--cor);
    position: relative;
    transition: .5s;
    padding: 2px 0;
}

footer a:hover{
    color: rgba(212, 5, 5, 0.8);
}

footer a::before{
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    width: 0%;
    border-bottom: 1px solid var(--cor);
    transition: .5s;
}

footer a:hover::before{
    border-bottom: 1px solid rgba(212, 5, 5, 0.8);
    width: 100%;
}